/* styles.css */

* {
	font-family: Cal Sans, Luxurious Script;
	background-color: #1b1006;
    background-size: cover;
}

.home-link {
	font-family: Cal Sans;
	color: #d8e7f5;
	font-size: 25px;
	margin-top: 10px;
	margin-left: 10px;
}

h1 {
	text-align: center;
    margin-top: 140px;
    margin-bottom: 70px;
    font-family: Rubik Microbe;
    font-size: 175px;
    font-weight: 575;
    color: #f8ece2;
}


.blue-link {
	font-family: Rubik Dirt;
    text-decoration: none;
    font-size: 55px;
    color: #322111;
    text-align: center;
}

.blue-link:hover {
    color: rgb(130, 172, 199);
    transform: scale(1.1);
}

.red-link {
	font-family: Rubik Dirt;
    text-decoration: none;
    font-size: 55px;
    color: #322111;
    text-align: center;
}
.red-link:hover {
    color: #a12e2e;
    transform: scale(1.1);
}

.yellow-link {
    font-family: Rubik Dirt;
    text-decoration: none;
    font-size: 50px;
    color: #322111;
    text-align: center;
}

.yellow-link:hover {
    color: #f5de86;
    transform: scale(1.1);
}

.color-grid {
    width: 1200px;
    height: 200px;
    margin: auto;
    margin-top: 20px;

    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 across */
    

    align-items: center;
    justify-items: center;
}

.color-link {
    width: 250px;
    height: 150px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #f8efe6;
    border-radius: 35px;

    box-shadow: 0 10px 25px rgba(0,0,0,.10);

    transition: all .3s ease;

    text-decoration: none;
}

.color-link:hover {
    transform: translateY(-8px);
    box-shadow: 0 18px 35px rgba(0,0,0,.18);
}
