* {
    font-family: Arial;
    background-color: #cd6c2b;
}

.home-link {
    font-family: Cal Sans;
    color: #d8e7f5;
    font-size: 25px;
    margin-top: 10px;
    margin-left: 10px;
}

h1 {
    text-align: center;
    margin-top: 120px;
	margin-bottom: 5px;
    font-family: Ranchers;
    font-size: 200px;
    color: #f0d9af;

}

p {
    text-align: center;
    color: #d8e7f5;
    font-family: Stack Sans Notch;
    font-size: 25px;
}

.pronounciation {
    font-family: Arial;
    font-size: 25px;
    color: #90969c;
    margin-bottom: 60px;
    text-align: center;
}