/* styles.css */

* {
	font-family: Cal Sans, Luxurious Script;
	background-color: #2e1e0f;
    background-size: cover;
}
h1 {
	text-align: center;
    margin-top: 60px;
    margin-bottom: 62px;
    font-family: Rubik Microbe;
    font-size: 165px;
    font-weight: 575;
    color: #f8ece2;
}


.blue-link {
	font-family: Rubik Dirt;
    text-decoration: none;
    font-size: 50px;
    color: #322111;
    text-align: center;
}

.blue-link:hover {
    color: rgb(130, 172, 199);
    transform: scale(1.1);
}

.red-link {
	font-family: Rubik Dirt;
    text-decoration: none;
    font-size: 50px;
    color: #322111;
    text-align: center;
}
.red-link:hover {
    color: #a12e2e;
    transform: scale(1.1);
}

.purple-link {
	font-family: Rubik Dirt;
    text-decoration: none;
    font-size: 45px;
    color: #322111;
    text-align: center;
}

.purple-link:hover {
    color: #a579cc;
    transform: scale(1.1);
}

.green-link {
    font-family: Rubik Dirt;
    text-decoration: none;
    font-size: 50px;
    color: #322111;
    text-align: center;
}

.green-link:hover {
    color: #417550;
    transform: scale(1.1);
}

.gray-link {
    font-family: Rubik Dirt;
    text-decoration: none;
    font-size: 50px;
    color: #322111;
    text-align: center;
}

.gray-link:hover {
    color: #b3b3b3;
    transform: scale(1.1);
}

.yellow-link {
    font-family: Rubik Dirt;
    text-decoration: none;
    font-size: 45px;
    color: #322111;
    text-align: center;
}

.yellow-link:hover {
    color: #f5de86;
    transform: scale(1.1);
}

.color-grid {
    width: 1200px;
    height: 400px;
    margin: auto;
    margin-top: 20px;

    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 across */
    grid-template-rows: repeat(2, 1fr);    /* 2 down */

    align-items: center;
    justify-items: center;
}

.color-link {
    width: 220px;
    height: 120px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #f8efe6;
    border-radius: 25px;

    box-shadow: 0 10px 25px rgba(0,0,0,.10);

    transition: all .3s ease;

    text-decoration: none;
}

.color-link:hover {
    transform: translateY(-8px);
    box-shadow: 0 18px 35px rgba(0,0,0,.18);
}
