* {
	font-family: Arial;
	background-color: #6d0606;
}

.home-link {
	font-family: Cal Sans;
	color: #d8e7f5;
	font-size: 25px;
	margin-top: 10px;
	margin-left: 10px;
}

h1 {
	text-align: center;
	margin-top: 175px;
	font-family: Luxurious Script;
	font-size: 200px;
	color: #bc7575;
    font-weight: bolder;

}


p {
    text-align: center;
    color: #fdcdcd;
	font-family: Google Sans Flex;
	font-size: 25px;
}
