* {
    font-family: Arial;
    background-color: #7f0707;
}

.home-link {
    font-family: Cal Sans;
    color: #ffffff;
    font-size: 25px;
    margin-top: 10px;
    margin-left: 10px;
}

h1 {
    text-align: center;
    margin-top: 70px;
    margin-bottom: -15px;
    font-family: Luxurious Script;
    font-size: 185px;
    color: #cf8181;
}

.pronounciation {
    font-family: Arial;
    font-size: 25px;
    color: #978f8f;
    margin-bottom: 60px;
    text-align: center;
}

.definition {
    
    color: #e1d6d6;
    font-family: Stack Sans Notch;
    font-size: 27px;
    margin-bottom: 170px;
	text-align: center;
	text-decoration: underline;
	text-underline-offset: 60px;
	text-decoration-color: #c88b8b;
}


h2 {
    font-family: Rubik Dirt;
    text-align: left;
    font-size: 60px;
	font-weight: normal;
    color: #e0cccc;
}

.touch-row {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 80px;
	margin-top: 70px;
	flex-wrap: wrap;
}

.touch-row h2 {
	margin: 0;
}

.mix-button {
	width: 160px;
	height: 80px;

	display: flex;
	justify-content: center;
	align-items: center;

	text-decoration: none;
	border-radius: 20px;

	font-size: 35px;
	font-weight: normal;
	font-family: Rubik Dirt;

	transition: .3s ease;
}

.red-button {
    background-color: #c39c9c;
    color: #333345;  
}

.yellow-button {
    background-color: #c39c9c;
    color: #333345;
}

.mix-button:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0,0,0,.2);
}