* {
	font-family: Arial;
	background-color: #085597;
}

.home-link {
	font-family: Cal Sans;
	color: #d8e7f5;
	font-size: 25px;
	margin-top: 10px;
	margin-left: 10px;
}

h1 {
	text-align: center;
	margin-top: 110px;
	margin-bottom: -10px;
	font-family: Cal Sans;
	font-size: 175px;
	color: #afd2f0;
}

.pronounciation {
	font-family: Arial;
	font-size: 25px;
	color: #90969c;
	margin-bottom: 50px;
	margin-left: 480px;
}

.definition {
    
    color: #c7cdd3;
	font-family: Google Sans Flex;
	font-size: 25px;
	margin-bottom: 20px;
	margin-left: 480px;
}

h2 {
	font-family: Sirivennela;
	text-align: center;
	font-size: 50px;
	color: #d8e7f5;
}

.purple-link {
	font-family: Cal Sans;
	text-decoration: none;
	text-align: center;
	color
}
