* {
	font-family: Arial;
	background-color: #065314;
}

h1 {
	text-align: center;
	margin-top: 175px;
	font-family: Amarante;
	font-size: 175px;
	color: #6baf78;

}

p {
    text-align: center;
    color: #eaf5d8;
	font-family: Google Sans Flex;
	font-size: 25px;
}