* {
	font-family: Arial;
	background-color: #085597;
}

h1 {
	text-align: center;
	margin-top: 175px;
	font-family: Cal Sans;
	font-size: 175px;
	color: #afd2f0;

}

p {
    text-align: center;
    color: #d8e7f5;
	font-family: Google Sans Flex;
	font-size: 25px;
}