/* styles.css */

* {
	font-family: Cal Sans, Luxurious Script;
	background-color: #e5e5e5;
}
h1 {
	text-align: center;
    margin-top: 30px;
    font-family: Sirivennela;
    font-size: 140px;
    color: #2c2c2d;
}


.blue-link {
	font-family: Cal Sans;
    text-decoration: none;
    font-size: 55px;
    color: #075090;
    text-align: center;
}

.blue-link:hover {
    color: lightblue;
    transform: scale(1.1);
}

.red-link {
	font-family: Luxurious Script;
    text-decoration: none;
    font-size: 60px;
    color: #6d0606;
    text-align: center;
}
.red-link:hover {
    color: #d48181;
    transform: scale(1.1);
}

.purple-link {
	font-family: Cormorant Unicase;
    text-decoration: none;
    font-size: 55px;
    color: #551d8d;
    text-align: center;
}

.purple-link:hover {
    color: #d2aff0;
    transform: scale(1.1);
}

.green-link {
    font-family: Cormorant Unicase;
    text-decoration: none;
    font-size: 55px;
    color: #115f27;
    text-align: center;
}

.green-link:hover {
    color: #74c68b;
    transform: scale(1.1);
}

.gray-link {
    font-family: Cormorant Unicase;
    text-decoration: none;
    font-size: 55px;
    color: #4d4d4d;
    text-align: center;
}

.gray-link:hover {
    color: #b3b3b3;
    transform: scale(1.1);
}

.yellow-link {
    font-family: Cormorant Unicase;
    text-decoration: none;
    font-size: 55px;
    color: #f2c13c;
    text-align: center;
}

.yellow-link:hover {
    color: #fff0b3;
    transform: scale(1.1);
}

.color-grid {
    width: 1200px;
    height: 400px;
    margin: auto;
    margin-top: 20px;

    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 across */
    grid-template-rows: repeat(2, 1fr);    /* 2 down */

    align-items: center;
    justify-items: center;
}

.color-link {
    width: 220px;
    height: 120px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: white;
    border-radius: 25px;

    box-shadow: 0 10px 25px rgba(0,0,0,.10);

    transition: all .3s ease;

    text-decoration: none;
}

.color-link:hover {
    transform: translateY(-8px);
    box-shadow: 0 18px 35px rgba(0,0,0,.18);
}
