* {
	font-family: Arial;
	background-color: #f2d73c;
}

h1 {
	text-align: center;
	margin-top: 175px;
	font-family: Luckiest Guy;
	font-size: 175px;
	font-weight: 300;
	color: #ffffff;

}

p {
    text-align: center;
    color: #3f2c0b;
	font-family: Google Sans Flex;
	font-size: 25px;
}