.mood-grid {
    width: 800px;
    height: 400px;
    margin: auto;
    margin-top: 40px;

    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 across */
    grid-template-rows: repeat(2, 1fr);    /* 2 down */

    align-items: center;
    justify-items: center;
}

.mood-link {
    font-size: 40px;
    text-decoration: none;
    color: black;
}